* {
  font-family: 'Barlow', sans-serif;
}

.container {
  width: 1000px;
  margin: auto;
  background-color: #f8f9fa;
}

.row {
  display: flex;
}

h2 {
  font-size: 20px;
}

.column-full {
  display: flex;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 16px;
  width: 90%;
  justify-content: center;
}

.images {
  width: 75%;
  margin: auto;
}

.card-storage {
  display: flex;
  flex-direction: column;
  margin: -3%;
}

.icons {
  width: 20%;
  margin: auto;
}

h3 {
  font-size: 13px;
  margin: auto;
  margin-top: 12px;
  padding-bottom: 16px;
}

p {
  font-size: 10px;
  font-weight: 500;
  margin: auto;
  padding-bottom: 40px;
}
