.container {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.row {
  display: flex;
}

img {
  width: 100%;
}

.column-one-third {
  width: 33%;
}

.column-one-fourth {
  width: 25%;
}

.column-two-thirds {
  width: 66%;
}
