* {
  font-family: 'DM Sans', sans-serif;
}

.container {
  width: 1000px;
  margin: auto;
}

.row {
  display: flex;
  width: 80%;
  margin: auto;
}

.column-header {
  justify-content: center;
  margin: auto;
  font-size: 10px;
}

.column-fifth {
  margin: auto;
  display: flex;
}

.fade,
.strike {
  color: lightgray;
  font-size: 8px;
}

.strike {
  text-decoration: line-through;
  font-size: 10px;
}

.highlight {
  background-color: #f8edeb;
  font-size: 10px;
}

img {
  width: 110%;
}

#special-image {
  height: 220px;
  object-fit: cover;
}

h5 {
  font-size: 10px;
  margin-top: 5px;
  height: 1px;
}

.images-deck {
  margin: 10px;
  width: 134px;
}
