* {
  font-family: 'Patua One', cursive;
}

body {
  box-sizing: border-box;
}

.row {
  display: flex;
  width: 1000px;
}

.column {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  color: black;
}

/* this is the first letter */

.current-letter {
  color: black;
  border-bottom: 3px solid;
}

.letter-correct {
  color: #25d325;
}

.letter-wrong {
  color: #f75353;
  border-bottom: 3px solid;
}

/*
.sentence {
  letter-spacing: 3px;
}

.each-letter {
  border-bottom: 3px solid transparent;
  padding-bottom: 3px;
}

.each-letter-current {
  border-bottom-color: #000;
}

.each-letter-current,
.each-letter-wrong {
  border-bottom-color: #f75353;
}

.each-letter-right {
  padding-bottom: 3px;
  color: #25d325;
}

.each-letter-wrong {
  padding-bottom: 3px;
  color: #f75353;
} */
