.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.logo {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.nav-items {
  text-decoration: none;
  font-family: 'avenir', sans-serif;
  color: #a5a5a5;
  font-size: 11px;
  margin-left: 25px;
}

#bordered-nav {
  background-color: #01497c;
  color: white;
  padding: 8px;
  margin-left: 10px;
  border-radius: 4px;
}

.imagecanvas {
  width: 15%;
}

.hero-image {
  width: 100%;
  text-align: center;
  position: relative;
  padding-top: 30px;
}

.hero {
  width: 95%;
}

h2 {
  position: absolute;
  top: 21%;
  width: 43%;
  left: 9%;
  color: white;
  text-align: left;
  font-family: 'Tiempos Headline', sans-serif;
}

p {
  position: absolute;
  top: 38%;
  width: 50%;
  left: 9%;
  color: white;
  text-align: left;
  line-height: 1.25rem;
  font-family: 'avenir', sans-serif;
  font-size: 10px;
  padding-right: 75px;
  padding-top: 2px;
}

.overlay {
  width: 96%;
  height: 96%;
  background: black;
  opacity: 0.3;
  position: absolute;
}
